<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="../css/adminMenu.css">
	</head>
	<body>
		<h1>{{titlePage}}</h1>
		<div class="btn">
			<a href="/adminCar">gestion voiture</a>
			<a href="/admincharacteristic">gestion des caracteristique</a>
			<a href="/adminUser">gestion utilisateur</a>

			<a href="/stop">logout</a>
		</div>
	</body>
</html>
