<head>
    <title>{{titleSite}}</title>
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>
<body>
    <h1>{{titlePage}}</h1>
    <p>brand:</p>
    <a href="/brandmodif">modif brand</a>
    <p>color:</p>
    <a href="/colormodif">modif color</a>
    <p>place:</p>
    <a href="/placemodif">modif place</a>
</body>